
<div class="container" style="margin:auto; width:35%; padding:30px;" >
<h1 class="col text-center" >Edit birthday</h1>
<br/>
<%= form_with(model: Birthdaym.find(params[:id]), url: birthdaysc_path, method:'put', local: true) do |f| %>
    <%# # <%= form_with scope: :birthdaym , url: birthdaysc_index_path, local: true  do |f|  %>
        <%= f.label :name, class:'form-label' %>
         
        รง<%= f.text_field :name , class:'form-control'%>
         
         
        <%= f.label :dayofbirth, class:'form-label' %>
         
        <%= f.date_field :dayofbirth, class:'form-control' %> 
         
         
        <%= f.label :age, class:'form-label' %>
         
        <%= f.number_field :age, class:'form-control' %> 
          
            <%= f.label :sex %>
    <div class="form-check">
             
            <%= f.radio_button :sex, 'male' ,{ class:"form-check-input" }%> 
            <%= f.label :sex_male, 'male', class:'form-check-label'%> 
    </div>
    <div class="form-check">
             
            <%= f.radio_button :sex, 'female', { class:'form-check-input'} %> 
            <%= f.label :sex_female, 'female', class:'form-check-label' %> 
    </div>
          
    
        <br>
        <div class="col text-center">
            <%= f.submit "Update changes", class:'btn btn-warning' %>
        </div>
<% end %>
</div>