<div class="container bg-light rounded-3 border p-4" style=" margin:auto; width:35%; ">
    <div class='row' style='align-text:center;'>
    <h1 style="align-text:center;">
    <%= @birthdaylocal.name%>
    </h1></div>
    <br>
    <div class='row'>
        <div class='col-3'> 
        Birthday:<br>
        Age:<br>
        Sex:<br>
        Created:<br>
        Updated: <br>
        </div>
    
        <div class='col' > 
        <%= @birthdaylocal.dayofbirth%><br> 
         <%= @birthdaylocal.age%><br>
         <%= @birthdaylocal.sex%><br>
         <%= @birthdaylocal.created_at%><br>
         <%= @birthdaylocal.updated_at%><br> 
        </div><br>
        <br><br>
</div>    <br>
   <div> <div class='row'><%= link_to "Back to the birthdays", birthdaysc_index_path, class:'btn btn-warning' %>
    </div>
</div>

