<ul>
<% if user_signed_in?%>
<li> <%= link_to 'See birthdays', birthdaysc_index_path %> </li>
<li> <%= link_to 'Add a friends birthday', new_birthdaysc_path %> </li>
<% else %>
<p>A simple app for keeping your friends birthdays!</p>
<li> <%= link_to 'Log in', new_user_session_path %> </li>
or
<li> <%= link_to 'Sign up', new_user_registration_path %> </li>
<% end %>
<li> <%= link_to 'Want birthday notficication?', new_useroption_path %> </li>
</ul>
