<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @birthday.name %>
</p>

<p>
  <strong>Dayofbirth:</strong>
  <%= @birthday.dayofbirth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @birthday.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @birthday.sex %>
</p>

<p>
  <strong>User:</strong>
  <%= @birthday.user_id %>
</p>

<%= link_to 'Edit', edit_birthday_path(@birthday) %> |
<%= link_to 'Back', birthdays_path %>
